<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="FastCGI" path="*php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP7\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
